# dev db superuser
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

# db users and passwords
POSTGRES_MEDICAL_USER=medical_user
POSTGRES_MEDICAL_PASSWORD=medical_testpass
POSTGRES_SANCTUARY_USER=sanctuary_user
POSTGRES_SANCTUARY_PASSWORD=sanctuary_testpass

# db names
POSTGRES_MEDICAL_DB=medical-example
POSTGRES_SANCTUARY_DB=sanctuary-example

# db config
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

# app config
SECRET_KEY=space-pants
MIN_PASSWORD_LEN=8
MAX_PASSWORD_LEN=80
FRONTEND_ORIGIN=localhost:3000
PROTOCOL=http
API_PREFIX=/api
ADMIN_MODE=1