name: Production Unit Tests

on:
  push:
    branches:
      - main
    paths:
      - 'app/api/**'
  pull_request:
    types:
      -opened
    branches: 
      - main
    paths:
      - 'app/api/**'


env:
  API_ENV_FILE: app/api/

jobs:
  unit-tests-api:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v2
      - name: Setup mock env
        run: |
            make env
      - name: Run tests
        run: |
            make testapiprod